.tulip_container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	display: inline;
	float: left;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.1;
	font-size: 15.3vh;
}
.word_container {
}
.letter {
	width: 100%;
	text-align: center;
}
.word_wrapper {
	width: 100%;
}
.word {
	opacity: 0;
}