body {
	white-space: nowrap;
	background-color: #e1e1e1;
}

.letter_container {
	display: block;
	float: left;
}
.word_container {
	display: block;
}

.tulip_container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	font-family: 'Ubuntu', sans-serif;
	line-height: 1.1;
	font-size: 15.3vh;
	color: #717171;
}

.letter {
	width: 100%;
	text-align: center;
}
.word_wrapper {
	width: 100%;
}
.word {
	opacity: 0;
}